<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>QLimit</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Charging Limits</string>
			<key>footerText</key>
			<string>Max Charging Level is the battery percentage where charging stops. Sail Depth is how many percent the battery can drop before charging resumes.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>me.qlimit</string>
			<key>key</key>
			<string>MaxChargingLevel</string>
			<key>label</key>
			<string>Max Charge Level (%)</string>
			<key>placeholder</key>
			<string>80</string>
			<key>isNumeric</key>
			<true/>
			<key>PostNotification</key>
			<string>me.qlimit/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>me.qlimit</string>
			<key>key</key>
			<string>SailDepth</string>
			<key>label</key>
			<string>Sail Depth (%)</string>
			<key>placeholder</key>
			<string>5</string>
			<key>isNumeric</key>
			<true/>
			<key>PostNotification</key>
			<string>me.qlimit/prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Accessories</string>
			<key>footerText</key>
			<string>Set options for charging of accessories.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>me.qlimit</string>
			<key>key</key>
			<string>ShouldInhibitAccessoryCharging</string>
			<key>label</key>
			<string>Inhibit Accessory Charging</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>me.qlimit/prefschanged</string>
		</dict>
	</array>
</dict>
</plist>
